language: python

python:
  - "3.6"

sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev # provides unbuffer utility
      - python-lxml # because pip installation is slow
      - python-unidecode
      - antiword # document module
      - cups
      - libcups2-dev

env:
  global:
    - VERSION="16.0" TESTS="0" LINT_CHECK="0"
  matrix:
    - LINT_CHECK="1"
    - TESTS="1" ODOO_REPO="OCA/OCB"
    - TESTS="1" ODOO_REPO="odoo/odoo"

install:
  - git clone --depth=1 https://github.com/avanzosc/maintainer-quality-tools.git
    ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_wait travis_run_tests

after_success:
  - travis_after_tests_success
